/* ============== Do not delete this ========== */
.section-selector-1 { background-color: var(--gray-200) }
.col-3 h3 { margin-bottom: 16px }



/* =============== Add your custom CSS below =========== */


.section-selector-1 { background-color: var(--trend-100) }
.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--gray-600) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { color: var(--white-000) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { background-color: var(--black-000) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active { background-color: var(--gray-600) }

.section-selector-1 .container-btn a.btn:nth-child(1):focus,
.section-selector-1 .container-btn a.btn:nth-child(1):hover,
.section-selector-1 .container-btn a.btn:nth-child(1):active .container-btn { border-color: var(--gray-600) }

.section-selector-1 .container-btn a.btn:nth-child(1):link,
.section-selector-1 .container-btn a.btn:nth-child(1):visited { border-color: var(--black-000) }

header h1 {
    font-family: 'Prata', serif;
    font-weight: 400;
    line-height: 1.2
}
